<div
  class="ElementQuery"

  {{element-query
    dimension=@dimension
    isDisabled=@isDisabled
    prefix=@prefix
    sizes=@sizes
    sizesHeight=@sizesHeight
    onResize=this.onResize
  }}

  ...attributes
>
  {{yield this.params.attributesRecord this.params}}
</div>
