.image-container {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
