<section
  {{element-query
    sizes=(hash narrow=0 wide=224)
    sizesHeight=(hash short=0 tall=120)
  }}
  local-class="container"
>
  <div
    data-test-call-to-action
    local-class="call-to-action"
  >
    <p local-class="full-only">
      What will <em>you</em> create with
    </p>

    <p local-class="highlight">
      <a href="https://github.com/ijlee2/ember-container-query" target="_blank" rel="noopener noreferrer">ember-container-query</a>
    </p>

    <p local-class="full-only">
      ?
    </p>
  </div>
</section>
