<div class="xBlock-image-wrapper">
  <div class="xBlock-image-wrapper-intrinsic-ratio">
  </div>{{! image-wrapper-intrinsic-ratio }}
</div>{{! image-wrapper }}



<div class="xBlock-content">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sodales ut eu sem integer vitae justo eget magna.
    </p>

    <p>
      Mauris sit amet massa vitae tortor. Iaculis nunc sed augue lacus viverra vitae congue.
    </p>
  {{/if}}
</div>{{! content }}