.actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 0;
  border-radius: 50%;
  margin: 0;
  padding: 0;

  height: 2rem;
  width: 2rem;

  align-items: center;
  display: flex;
  justify-content: center;
}

.icon {
  fill: #03a9f4;
  height: 1.25rem;
  width: 1.25rem;
}

.icon-comment {
  transform: translate(0, 0) scale(-1, 1);
}

.icon-repost {
  transform: translate(0, 0) scale(-1, 1) rotate(90deg);
}


:global(.memo)[at-narrow][at-short] .button {
  height: 1.25rem;
  width: 1.25rem;
}

:global(.memo)[at-narrow][at-short] .button:hover {
  background: transparent;
  transition: none;
}

:global(.memo)[at-narrow][at-short] .icon {
  height: 0.875rem;
  width: 0.875rem;
}
